---
BasedOnStyle: Google
LineEnding: LF
ColumnLimit: 120
# indent
UseTab: Never
IndentWidth: 4
TabWidth: 4

---
## C/C++ style definitions
Language: Cpp

# include
IncludeCategories:
  - Regex: '../'

# indent style
IndentPPDirectives: AfterHash


# Brace Position
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterControlStatement: Never

# Align style
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignArrayOfStructures: Left
AlignConsecutiveMacros: true
