##
#
# @(#) : rlwrap gitignore
#
# @version  1.0.0
# @date		2024-03-07
# @license  GPLv2
#
# @description <<
#
# setting git ignoe files aboout rlwrap development
# ignore files about created by autotools, c compiler.
# and man file, Makefile, config.*, .deps
#
#<<

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/rlwrap.1
doc/rlwrap.man
filters/Makefile
filters/Makefile.in
src/*.o
src/.deps/
src/Makefile
src/Makefile.in
src/rlwrap
stamp-h1
tools/
filters/RlwrapFilter.3pm
**testit.trs

