Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/rlwrap.1
doc/rlwrap.man
filters/Makefile
filters/Makefile.in
src/*.o
src/.deps/
src/Makefile
src/Makefile.in
src/rlwrap
stamp-h1
tools/
test-suite.log
test/testit.log
test/testit.trs
filters/RlwrapFilter.3pm
